
%section.default-page-header
	%h2.text-center
		Search


%section
	.container
		.row
			.col-lg-12
				%h3.light-text-color.no-margin-top.double-margin-bottom.text-center
					We found 
					%span.dark-text-color
						230 
					results with the keyword 
					%span.dark-text-color
						cool 
					in it.
				.row
					-10.times do
						.col-md-4.col-sm-6
							= partial "shared/post-thumb"
						.col-md-4.col-sm-6
							= partial "shared/post-thumb"
						.col-md-4.col-sm-6
							= partial "shared/post-thumb-image"
						.col-md-4.col-sm-6
							= partial "shared/post-thumb"
						.col-md-4.col-sm-6
							= partial "shared/post-thumb-image"